/* стили для блока cover */
.cover {
  position: relative;
  color: #fff; 
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  height: 757px;
  background-color: rgb(0 0 0 /0.6);  
}

.cover__title {
  padding: 165px 20px 128px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  height: 100%;
  width: 100%;
  letter-spacing: 30px;
}

.cover__title_aligned_symbol {
  letter-spacing: 8px;
}

.cover__title_aligned_text_center {
  display: block;
  text-align: left;
  padding-top: 6px;
  margin-left: 286px;
}

.cover__title_aligned_text_right {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-right: 50px;
}

.cover__title_aligned_text_right_symbol {
  letter-spacing: 58px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 78px;
  margin-bottom: 51px;
  margin-right: 49px;
  text-align: center;
  font-size: 22px;
  height: 51px;
}

.cover__description-text {
  display: flex;
  width: 100%;
  font-weight: 400;
  margin-right: 79px;
}

.cover__description_button {
  margin-bottom: 1px;
  margin-right: 1px;
  border: 1px solid white;
  font-weight: 500;
  min-width: 256px;
  height: 51px;
  background-color: transparent; 
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
