/* стили для блока about */
.about {
  margin-top: 180px;
  padding: 0px 24px 0px;
  width: 100%;

  display: grid;
  grid-template-columns: 334px auto;
  grid-template-rows: repeat(2, auto);
  column-gap: 25px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_circle {
  margin-top: 2px;
  position: relative;
  border-radius: 50%;
  background-color: black;
  height: 240px;
  width: 240px;
}

.about_logo-img {
  position: absolute;
  top: 36px;
  left: 47px;
  z-index: 1;
  height: 168px;
  width: 147px;
}

.about_title {
  display: flex;
  align-items: center;
}

.about_title_text {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}

.about_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about_text_up {
  margin-top: 8px;
  letter-spacing: 0.12px; 
}

.about_text_down {
  margin-top: 25px;
  padding-right: 1px;
  letter-spacing: 0.06px; 
}